<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Familia Cristiana</h1>
      <h3 class="fw-normal text-muted mb-3">Encontrá todas las herramientas de campaña</h3>
     <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <!--<a class="icon-link" id="masinfo" href="#">
          Vea mas info.
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>-->
        {{!-- <a class="icon-link" href="#">
          Buy
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a> --}}
      </div> 
    </div>
    <!-- <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
  </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Devocionales</h2>
        <div class="audio-player">
           <p class="text-start">devocional n•2: ENFOQUE</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio2.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
        </div>
        <div class="audio-player">
           <p class="text-start">devocional n•1:, 23 de septiembre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio1.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
        </div>
               {{!-- <div class="audio-player">
           <p class="text-start">Prueba audio drive</p>
          <audio id="audio" controls>
            <source src="https://fuchsia-immense-tapir-146.mypinata.cloud/ipfs/QmaVzDzt7HFsBJpn3YmosHkZximRhtkCCUWxvDE3ZYkpqn" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
        </div> --}}
        {{!-- <p class="lead">Josue 1:1-18 </p> --}}
      </div>
    </div><!--
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Predicaciones</h2>
        <p class="lead">Mirá el material que acompaña la predicaciones durante la campaña Revivir</p>
        <button href="#" class="btn btn-secondary mt-3" id="predicacionDomingo">
          Predicación Domingo 9 de septiembre 2024
        </button>
      </div>
    </div>-->
  </div>
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    {{!-- <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Audios</h2>
        <p class="lead">Escucha los devocionales de la campaña Revivir</p>
      </div>
    </div> --}}
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Canciones</h2>
        <p class="lead">Escucha las canciones de la campaña Revivir</p>
          <a href="https://www.youtube.com/watch?v=VkSGQHnchlM" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Aquí Estamos Para Ti</p></a>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/VkSGQHnchlM?si=eI1SE-2Wk3k4dahg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        

         
       
 <a href="https://www.youtube.com/watch?v=naG_gVo8buc" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Evan Craft & Intimidad Worship - Alaba (Live) [Elevation Worship - "Praise" en Español]</p></a>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/naG_gVo8buc?si=JBmp-k-ybS_dcEcl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
 

<a href="https://www.youtube.com/watch?v=NrBQK-AjBq8" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Hay Libertad - Art Aguilera</p></a>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/NrBQK-AjBq8?si=sJ3PHxaZcepT6kzu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        

<a href="https://www.youtube.com/watch?v=1S-i8mtCoTU" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Mi Testimonio (My Testimony) | Video Oficial Con Letras | Elevation Worship</p>
         <img width="auto" height="315" src="assets/img/canciones/miTestimonio.png"</img></a>
        
<a href="https://www.youtube.com/watch?v=6qLqxn66FfQ" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Digno Elevation Worship - Iglesia Rey de Reyes - Claudio Freidzon</p></a>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/6qLqxn66FfQ?si=e8mIGi4Q2caKKotP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
       
       
       
        <a href="https://www.youtube.com/watch?si=J0sH_2CWcyet9ZeB&v=Zgtmum2w5Cw&feature=youtu.be" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Samuel Messias - Todavía Me Alegraré</p></a>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Zgtmum2w5Cw?si=gzqxr8q8eYj7ZBdx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
       
         <a href="https://www.youtube.com/watch?v=yDMja3Wbqyk" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Egipto - Valentina Lavallen | Rey de reyes Claudio Freidzon</p></a>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/yDMja3Wbqyk?si=543niuo5sOWwy5WH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
   <a href="https://www.youtube.com/watch?v=_1MfaKz_eCQ" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Danzando | Christine D’Clario, Travy Joe, Daniel Calveti y Gateway Worship Español</p></a>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/_1MfaKz_eCQ?si=zif3rtyKttowUBi2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        





       <a class="icon-link" id="canciones" href="#">
         Escuchar canciones anteriores
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
      </div>
    </div>
  </div>

  


  <!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div> -->
</main>
